AUTH_SECRET="any string"

AUTH_GOOGLE_ID=get from https://console.cloud.google.com/apis/credentials
AUTH_GOOGLE_SECRET=get from https://console.cloud.google.com/apis/credentials

DATABASE_URL=postgres db url

EMAIL=youremail@gmail.com
EMAIL_PASSWORD=yourpassword after 2FA